<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category">
          <i class="fas fa-list"></i>
          <span>Category</span></a>
        <ul>
            <li class="nav-item">
            <a class="nav-link" href="/admin/category">
            <i class="fas fa-list"></i>
            <span>SubCategory</span></a>
        </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/tag">
          <i class="fas fa-tags"></i>
          <span>Tag</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/posts">
          <i class="fas fa-newspaper"></i>
          <span>Posts</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/userlist">
          <i class="fas fa-users"></i>
          <span>User list</span></a>
      </li>
    </ul>
