/* Start comment */
.comment{
    height: 100px;
    color:rgb(56, 56, 56);
    width: 810px;
}
.avatar{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 50%;
    margin-top: -5px;
}
.btnReq{
    width: 100px;
    float: right;
    margin-left: 100px;
}
/* End comment */

/* Start writer */

.thead-dark{
    background: rgb(39, 39, 39);
    color: aliceblue;
}
.viewlistwrite{
    display: none;
    border: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.show-viewlistwrite{
    display: block;
    
    
}
.btnsuccess{
    margin-left:45%;
}
.fa-check-circle{
    color: rgb(66, 134, 2);
}

/* End writer */

/* Start editor */
.reject{
    display: none;
}
.show-reject{
    display: block;
}

.form-success{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9998;
}
.success{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 4px;
    margin: auto;
    margin-top:-20%;
    background: #fff;
    padding: 30px;

}
.success label{
    margin-left: 20%;
    color: #161616;
    margin-top: 10px;
}

.btnno{
    margin-left:120px;
    margin-top: -60px;
}

.show-form-success{
    display: block;
}

.boxreg-birthday {
    float: left;
}

.input-birthday {
    width: 260px;
}

.input-birthday select option {
    color: rgb(31, 30, 30);
}

.input-birthday-day {
    float: left;
    width: 65px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}


.input-birthday-month {
    float: left;
    width: 65px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}


.input-birthday-year {
    float: left;
    width: 80px;
    margin-left: -1px;
    height: 40px;
    border: 1px solid #ddd;
    color: #9e9e9e;
}


/* End editor */