<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="assets/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="assets/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Style customizer (Remove these lines please) -->
    <link rel="stylesheet" href="assets/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start of header area -->
        <header class="header-area header-wrapper bg-white clearfix">
            <!-- Start Sidebar Menu -->
            <div class="sidebar-menu">
                <div class="sidebar-menu-inner"></div>
                <span class="fa fa-remove"></span>
            </div>
            <!-- End Sidebar Menu -->
            <div class="header-top-bar bg-dark ptb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7  hidden-xs">
                            <div class="header-top-left">
                                <nav class="header-top-menu zm-secondary-menu">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Shortcodes</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <div class="header-top-right clierfix text-right">
                                <div class="header-social-bookmark topbar-sblock">
                                    <ul>
                                        <li><a href="https://www.facebook.com"><i class=" fab fa-facebook"></i></a></li>
                                        <li><a href="https://plus.google.com"><i class="fab fa-google-plus"></i></a></li>
                                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://dribbble.com"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                                <div class="zmaga-calendar topbar-sblock">
                                    <span class="calendar uppercase"></span>
                                </div>
                                <div class="user-accoint topbar-sblock">
                                    <span class="login-btn uppercase">Đăng nhập</span>
                                    <div class="fullscreen-black"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobiletest">
                <div class="login-form-wrap bg-white">
                    <form class="zm-signin-form text-left">
                        <input type="text" class="zm-form-control username" placeholder="Username or Email">
                        <input type="password" class="zm-form-control password" placeholder="Password">
                        <input type="checkbox" value=" Remember Me" class="remember"> &nbsp;Nhớ mật khẩu<br>
                        <div class="zm-submit-box clearfix  mt-20">
                            <input type="submit" value="Login">
                            <a href="registration.html">Đăng kí</a>
                        </div>
                        <a href="#" class="zm-forget">Quên mật khẩu ?</a>
                        <div class="zm-login-social-box">
                            <a href="#" class="social-btn bg-facebook block"><span class="btn_text"><i class="fab fa-facebook"></i>Đăng nhập bằng Facebook</span></a>
                            <a href="#" class="social-btn bg-twitter block"><span class="btn_text"><i class="fab fa-twitter"></i>Đăng nhập bằng Twitter</span></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 header-mdh">
                            <div class="global-table">
                                <div class="global-row">
                                    <div class="global-cell">
                                        <div class="logo">
                                            <a href="index.html">
                                                <img src="uploads/images/logo/1.png" alt="main logo">
                                            </a>
                                            <p class="site-desc">News blog & Magazine Template</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>