<div id="sticky-header" class="header-bottom-area hidden-sm hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="menu-wrapper  bg-theme clearfix">
                                <div class="row">
                                    <div class="col-md-11">
                                        <button class="sidebar-menu-btn">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                        <div class="mainmenu-area">
                                            <nav class="primary-menu uppercase">
                                                <ul class="clearfix">
                                                    <li class="current drop"><a href="#">Trang chủ</a>
                                                        <ul class="dropdown">
                                                            <li class="drop"><a href="#">Kinh doanh</a>
                                                                <ul class="dropdown level2">
                                                                    <li><a href="index.html">Doanh nhân</a></li>
                                                                    <li><a href="index-3.html">Tài chính</a></li>
                                                                    <li><a href="index-7.html">Bất động sản</a></li>
                                                                    <li><a href="index-7.html">Khởi nghiệp</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="drop"><a href="#">Bóng đá</a>
                                                                <ul class="dropdown level2">
                                                                    <li><a href="index-2.html">Ngoại hạng anh</a></li>
                                                                    <li><a href="index-7.html">Bóng đá Ý</a></li>
                                                                    <li><a href="index-10.html">Bóng đá Tây Ban Nha</a></li>
                                                                    <li><a href="index-10.html">Bóng đá Đức</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="drop"><a href="#">Thị trường</a>
                                                                <ul class="dropdown level2">
                                                                    <li><a href="index-5.html">Thị trường 24h</a></li>
                                                                    <li><a href="index-6.html">Giá cả hàng hoá</a></li>
                                                                    <li><a href="index-8.html">Trung tâm mua sắm</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="drop"><a href="#">Sức khoẻ</a>
                                                                <ul class="dropdown level2">
                                                                    <li><a href="index-5.html">Bài thuốc dân gian</a></li>
                                                                    <li><a href="index-6.html">Ung thư</a></li>
                                                                    <li><a href="index-8.html">Tin sức khoẻ</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="drop"><a href="#">Showbiz</a>
                                                                <ul class="dropdown level2">
                                                                    <li><a href="index-5.html">Sao Việt</a></li>
                                                                    <li><a href="index-6.html">Sao Châu Á</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="drop"><a href="#">Thế giới</a>
                                                                <ul class="dropdown level2">
                                                                    <li><a href="index-5.html">Điểm nóng</a></li>
                                                                    <li><a href="index-6.html">Quân sự</a></li>
                                                                    <li><a href="index-8.html">Thế giới động vật</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Kinh doanh <i class="fal fa-analytics"></i></a>
                                                        <ul class="dropdown">
                                                            <li><a href="index.html">Doanh nhân</a></li>
                                                            <li><a href="index-3.html">Tài chính</a></li>
                                                            <li><a href="index-7.html">Bất động sản</a></li>
                                                            <li><a href="index-7.html">Khởi nghiệp</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Bóng đá</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index-2.html">Ngoại hạng anh</a></li>
                                                            <li><a href="index-7.html">Bóng đá Ý</a></li>
                                                            <li><a href="index-10.html">Bóng đá Tây Ban Nha</a></li>
                                                            <li><a href="index-10.html">Bóng đá Đức</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Công nghệ</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index-5.html">Thị trường 24h</a></li>
                                                            <li><a href="index-6.html">Giá cả hàng hoá</a></li>
                                                            <li><a href="index-8.html">Trung tâm mua sắm</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Thị trường</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index-5.html">Thị trường 24h</a></li>
                                                            <li><a href="index-6.html">Giá cả hàng hoá</a></li>
                                                            <li><a href="index-8.html">Trung tâm mua sắm</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Sức khoẻ</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index-5.html">Bài thuốc dân gian</a></li>
                                                            <li><a href="index-6.html">Ung thư</a></li>
                                                            <li><a href="index-8.html">Tin sức khoẻ</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Showbiz</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index-5.html">Sao Việt</a></li>
                                                            <li><a href="index-6.html">Sao Châu Á</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="drop"><a href="#">Thế giới</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index-5.html">Điểm nóng</a></li>
                                                            <li><a href="index-6.html">Quân sự</a></li>
                                                            <li><a href="index-8.html">Thế giới động vật</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="search-wrap pull-right">
                                            <div class="search-btn"><i class="fa fa-search"></i></div>
                                            <div class="search-form">
                                                <form action="#">
                                                    <input type="search" placeholder="Search">
                                                    <button type="submit"><i class='fa fa-search'></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-md hidden-lg">
                <div class="fluid-container">
                    <div class="mobile-menu clearfix">
                        <div class="search-wrap mobile-search">
                            <div class="mobile-search-btn"><i class="fa fa-search"></i></div>
                            <div class="mobile-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class='fa fa-search'></i></button>
                                </form>
                            </div>
                        </div>
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="index.html">Trang chủ</a>
                                    <ul>
                                        <li class="drop"><a href="#">Kinh doanh</a>
                                            <ul>
                                                <li><a href="index.html">Doanh nhân</a></li>
                                                <li><a href="index-3.html">Tài chính</a></li>
                                                <li><a href="index-7.html">Bất động sản</a></li>
                                                <li><a href="index-7.html">Khởi nghiệp</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Bóng đá</a>
                                            <ul>
                                                <li><a href="index-2.html">Ngoại hạng anh</a></li>
                                                <li><a href="index-7.html">Bóng đá Ý</a></li>
                                                <li><a href="index-10.html">Bóng đá Tây Ban Nha</a></li>
                                                <li><a href="index-10.html">Bóng đá Đức</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Thị trường</a>
                                            <ul>
                                                <li><a href="index-5.html">Thị trường 24h</a></li>
                                                <li><a href="index-6.html">Giá cả hàng hoá</a></li>
                                                <li><a href="index-8.html">Trung tâm mua sắm</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Sức khoẻ</a>
                                            <ul>
                                                <li><a href="index-5.html">Bài thuốc dân gian</a></li>
                                                <li><a href="index-6.html">Ung thư</a></li>
                                                <li><a href="index-8.html">Tin sức khoẻ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Showbiz</a>
                                            <ul>
                                                <li><a href="index-5.html">Sao Việt</a></li>
                                                <li><a href="index-6.html">Sao Châu Á</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Thế giới</a>
                                            <ul>
                                                <li><a href="index-5.html">Điểm nóng</a></li>
                                                <li><a href="index-6.html">Quân sự</a></li>
                                                <li><a href="index-8.html">Thế giới động vật</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Kinh doanh <i class="fal fa-analytics"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Doanh nhân</a></li>
                                        <li><a href="index-3.html">Tài chính</a></li>
                                        <li><a href="index-7.html">Bất động sản</a></li>
                                        <li><a href="index-7.html">Khởi nghiệp</a></li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Bóng đá</a>
                                    <ul class="dropdown">
                                        <li><a href="index-2.html">Ngoại hạng anh</a></li>
                                        <li><a href="index-7.html">Bóng đá Ý</a></li>
                                        <li><a href="index-10.html">Bóng đá Tây Ban Nha</a></li>
                                        <li><a href="index-10.html">Bóng đá Đức</a></li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Công nghệ</a>
                                    <ul class="dropdown">
                                        <li><a href="index-5.html">Thị trường 24h</a></li>
                                        <li><a href="index-6.html">Giá cả hàng hoá</a></li>
                                        <li><a href="index-8.html">Trung tâm mua sắm</a></li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Thị trường</a>
                                    <ul class="dropdown">
                                        <li><a href="index-5.html">Thị trường 24h</a></li>
                                        <li><a href="index-6.html">Giá cả hàng hoá</a></li>
                                        <li><a href="index-8.html">Trung tâm mua sắm</a></li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Sức khoẻ</a>
                                    <ul class="dropdown">
                                        <li><a href="index-5.html">Bài thuốc dân gian</a></li>
                                        <li><a href="index-6.html">Ung thư</a></li>
                                        <li><a href="index-8.html">Tin sức khoẻ</a></li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Showbiz</a>
                                    <ul class="dropdown">
                                        <li><a href="index-5.html">Sao Việt</a></li>
                                        <li><a href="index-6.html">Sao Châu Á</a></li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="#">Thế giới</a>
                                    <ul class="dropdown">
                                        <li><a href="index-5.html">Điểm nóng</a></li>
                                        <li><a href="index-6.html">Quân sự</a></li>
                                        <li><a href="index-8.html">Thế giới động vật</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->
            <div class="breakingnews-wrapper hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="breakingnews clearfix fix">
                                <div class="bn-title">
                                    <h6 class="uppercase">Tin nóng</h6>
                                </div>
                                <div class="news-wrap">
                                    <ul class="bkn clearfix" id="bkn">

                                        <li>Sốc: "Cày cuốc" cả đời cũng chỉ kiếm được số tiền bằng Jeff Bezos "ngồi chơi" 15 phút || Rất nhiều người sốc khi biết người đàn ông giàu nhất hành tinh kiếm được gần 60 triệu chỉ trong 1 giây.</li>
                                        <li>Cơ quan điều tra Bộ Công an đang khám xét cửa hàng điện thoại Nhật Cường mobile, địa chỉ 33 Lý Quốc Sư, Hà Nội.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>