<% include ../layout/header%>
<% include ../layout/menu%>

<div class="zm-section bg-white ptb-70">
                <div class="container">
                    <div class="row mb-40">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <div class="section-title">
                                <h2 class="h6 header-color inline-block uppercase">Chủ đề</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                            <div class="zm-posts">
                                <!-- Start single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/1.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Business</a></div>
                                            <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/2.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Education</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo consequat.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/3.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Fashion</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam xercitation nisi quis nostrud ullamco</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/4.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Treval</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Duis aute irure dolor in reprehenderit in velit minim cillumfugiat esse nulla pariatur.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- End single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/4.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Treval</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Duis aute irure dolor in reprehenderit in velit minim cillumfugiat esse nulla pariatur.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- End single post layout D -->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                            <div class="zm-posts">
                                <!-- Start single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/1.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Business</a></div>
                                            <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/2.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Education</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo consequat.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/2.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Education</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo consequat.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/3.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Fashion</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam xercitation nisi quis nostrud ullamco</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                                <!-- End single post layout D -->
                                <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                        <a href="blog-single-image.html"><img src="uploads/images/post/d/4.jpg" alt="img"></a>
                                    </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Treval</a></div>
                                            <h2 class="zm-post-title "><a href="blog-single-image.html">Duis aute irure dolor in reprehenderit in velit minim cillumfugiat esse nulla pariatur.</a></h2>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- End single post layout D -->
                            </div>
                        </div>
                    </div>
                    <!-- Start pagination area -->
                    <div class="row hidden-xs">
                        <div class="zm-pagination-wrap mt-70">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <nav class="zm-pagination ptb-40 text-center">
                                            <ul class="page-numbers">
                                                <li><a class="prev page-numbers" href="#">Trở về</a></li>
                                                <li><span class="page-numbers current">1</span></li>
                                                <li><a class="page-numbers" href="#">2</a></li>
                                                <li><a class="page-numbers" href="#">3</a></li>
                                                <li><a class="page-numbers" href="#">4</a></li>
                                                <li><a class="page-numbers" href="#">5</a></li>
                                                <li><span class="page-numbers zm-pgi-dots">...</span></li>
                                                <li><a class="page-numbers" href="#">15</a></li>
                                                <li><a class="next page-numbers" href="#">Tiếp theo</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End pagination area -->
                </div>
            </div>
            <!-- End Popular News [layout A+D]  -->
<%include ../layout/footer%>