<% include ../layout/header%>
<% include ../layout/menu%>
 <div id="page-content" class="page-wrapper">
            <div class="zm-section single-post-wrap bg-white xs-pt-30">
                <div class="container">
                    <div class="row">
                        <div class="row mb-40">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="section-title">
                                        <h2 class="h6 header-color inline-block uppercase">Chủ đề</h2>
                                    </div>
                                </div>
                            </div>
                        <div class="row"><!-- Start single post image formate-->            
                                <div class="col-md-12">
                                    <article class="zm-post-lay-single">
                                        <div class="zm-post-thumb">
                                            <a href="#"><img src="uploads/images/1.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis">
                                            <div class="zm-post-header">
                                                <h2 class="zm-post-title h2"><a href="blog-single-image.html">Hành trình từ Google DeepMind tới Viện trưởng VinAI Research</a></h2>
                                            </div>
                                            <div class="zm-post-content" >
                                                <p>Nhìn bề ngoài, tiến sĩ Bùi Hải Hưng trông rất thường. Không chải chuốt, không bác học, cũng chẳng có vẻ "dị" của một người vùi đầu nghiên cứu. Nếu chỉ gặp trên đường, ít ai nghĩ rằng mình vừa gặp một trong những nhân vật nổi tiếng của giới khoa học công nghệ toàn cầu.</p>

                                                <p>Mặc dù được coi là trường hợp "giỏi từ bé" với rất nhiều giải thưởng Toán quốc gia, quốc tế, Bùi Hải Hưng vẫn một mực cho rằng anh có ngày hôm nay hoàn toàn nhờ ngẫu nhiên. "Ngẫu nhiên" giành được học bổng của Đại học Công nghệ Curtin (Australia) dành cho học sinh Việt Nam duy nhất đoạt giải quốc tế vào năm 1991.</p>

                                                <blockquote>"Ngẫu nhiên" ngay sau năm đó, các chương trình học bổng du học cho học sinh Việt Nam tạm thời bị gián đoạn. Sự "ngẫu nhiên" ấy cũng đưa anh đến với đề nghị lên thẳng Tiến sỹ mà không cần qua cao học sau khi tốt nghiệp ĐH Curtin với thành tích xuất sắc. Anh sang Mỹ làm và nhận ra rằng với ngành công nghệ, môi trường ở đây mới là lí tưởng chứ không phải ở Australia.</blockquote>
                                                 <a href="#"><img src="uploads/images/2.jpg" alt="img"></a>
                                                <p>Vì sao lại nói tới chuyện ngẫu nhiên? Người đàn ông sinh ra và lớn lên giữa lòng phố cổ Hà Nội này tin rằng, anh là điển hình cho sự thiếu bài bản trong việc đào tạo nguồn nhân lực chất lượng cao tại Việt Nam.

"Khi tôi bắt đầu ở Silicon Valley đầu những năm 2000, lúc đó mới chỉ có vài người Việt. Bây giờ con số là vài trăm", Bùi Hải Hưng giải thích. "Đó là tín hiệu tốt nhưng phần lớn người Việt đều tới Silicon Valley theo một cách ngẫu nhiên nào đó. Giống như bản thân tôi cũng là một sự ngẫu nhiên như vậy.

Việt Nam mình vẫn thiếu một dây chuyền, một quy trình bài bản để đào tạo ra những người giỏi. Tất cả là từ những mảnh ghép rời rạc, tự phát triển, tự tìm đến, tự khẳng định mình".</p>

                                               
                                                 <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">An Phung</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">15/5/2019</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- End single post image formate --></div>
                    </div>
                 
                    <div class="row">
                        <!-- Start left side -->
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 columns mb-80">                           
                            <div class="row">
                                <!--Start Similar post -->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <aside class="zm-post-lay-a2-area">
                                        <div class="post-title mb-40 border-top mt-40 ptb-40">
                                            <h2 class="h6 inline-block">Cùng chuyên mục</h2>
                                        </div>
                                        <div class="row">
                                            <div class="zm-posts clearfix">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                    <article class="zm-post-lay-a2">
                                                        <div class="zm-post-thumb">
                                                            <a href="blog-single-image.html"><img src="uploads/images/3.jpg" alt="img"></a>
                                                        </div>
                                                        <div class="zm-post-dis">
                                                            <div class="zm-post-header">
                                                                <h2 class="zm-post-title h2"><a href="blog-single-image.html">Công nghệ mới sử dụng trong trường đua.</a></h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta"><a href="#" class="zm-author">An Phung</a></li>
                                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                    <article class="zm-post-lay-a2">
                                                        <div class="zm-post-thumb">
                                                            <a href="blog-single-image.html"><img src="uploads/images/4.jpg" alt="img"></a>
                                                        </div>
                                                        <div class="zm-post-dis">
                                                            <div class="zm-post-header">
                                                                <h2 class="zm-post-title h2"><a href="blog-single-image.html">Áp dụng công nghệ AI lên khinh khí cầu.</a></h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 hidden-md col-lg-4 hidden-sm">
                                                    <article class="zm-post-lay-a2">
                                                        <div class="zm-post-thumb">
                                                            <a href="blog-single-image.html"><img src="uploads/images/5.jpg" alt="img"></a>
                                                        </div>
                                                        <div class="zm-post-dis">
                                                            <div class="zm-post-header">
                                                                <h2 class="zm-post-title h2"><a href="blog-single-image.html">Nhạc điện tử EDM sản phẩm thời đại số có lợi hay có hại.</a></h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                                <!-- End similar post -->
                                <!-- Start Comment box  -->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="review-area mt-50 ptb-70 border-top">
                                        <div class="post-title mb-40">
                                            <h2 class="h6 inline-block">Bình luận (3)</h2>
                                        </div>
                                        <div class="review-wrap">
                                            <div class="review-inner">
                                                <!-- Start Single Review -->
                                                <div class="single-review clearfix">
                                                    <div class="reviewer-img">
                                                        <img src="uploads/images/av1.jpg" alt="">
                                                    </div>
                                                    <div class="reviewer-info">
                                                        <h4 class="reviewer-name"><a href="#">Củ tỏi</a></h4>
                                                        <span class="date-time">Auguest 11, 2.16, 12:21pm</span>
                                                        <p class="reviewer-comment">Đọc không hiểu gì @@</p>
                                                        <a href="#" class="reply-btn">Reply</a>
                                                    </div>
                                                </div>
                                                <!-- End Single Review -->
                                                <!-- Start Single Review -->
                                                <div class="single-review second-comment clearfix">
                                                    <div class="reviewer-img">
                                                        <img src="uploads/images/av2.jpg" alt="">
                                                    </div>
                                                    <div class="reviewer-info">
                                                        <h4 class="reviewer-name"><a href="#">Admin</a></h4>
                                                        <span class="date-time">Auguest 11, 2.16, 12:21pm</span>
                                                        <p class="reviewer-comment">Cảm ơn bạn đã góp ý !</p>
                                                    <a href="#" class="reply-btn">Reply</a>
                                                    </div>
                                                </div>
                                                <!-- End Single Review -->
                                                <!-- Start Single Review -->
                                                <!-- <div class="single-review third-comment clearfix">
                                                    <div class="reviewer-img">
                                                        <img src="images/post/single/comnt/2.jpg" alt="">
                                                    </div>
                                                    <div class="reviewer-info">
                                                        <h4 class="reviewer-name"><a href="#">Jhon doe</a></h4>
                                                        <span class="date-time">Auguest 11, 2.16, 12:21pm</span>
                                                        <p class="reviewer-comment">Phasellus aliquam ante metus, vitae molestie turpis rutrum eu. Fusce mi risus, cursus eu elit vitae, viverra vulputate mi. Donec ullamcorper felis nec sapien ultrices feugiat. Morbi sit amet blandit nibh. Vivamus eros felis, tempus vitae dolor quis, euismod dignissim ipsum. </p>
                                                    <a href="#" class="reply-btn">Reply</a>
                                                    </div>
                                                </div> -->
                                                <!-- End Single Review -->
                                                <!-- Start Single Review -->
                                                <div class="single-review clearfix">
                                                    <div class="reviewer-img">
                                                        <img src="uploads/images/av3.jpg" alt="">
                                                    </div>
                                                    <div class="reviewer-info">
                                                        <h4 class="reviewer-name"><a href="#">nguyen duc thinh</a></h4>
                                                        <span class="date-time">Auguest 11, 2.16, 12:21pm</span>
                                                        <p class="reviewer-comment">Báo xàm</p>
                                                        <a href="#" class="reply-btn">Reply</a>
                                                    </div>
                                                </div>
                                                <!-- End Single Review -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Comment box  -->
                                <!-- Start comment form -->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="comment-form-area">
                                        <div class="post-title mb-40">
                                            <h2 class="h6 inline-block">Ý kiến của bạn</h2>
                                        </div>
                                        <div class="form-wrap">
                                            <form action="#">
                                                <div class="form-inner clearfix">
                                                    <div class="single-input">
                                                        <textarea class="textarea" placeholder="Ý kiến của bạn..."></textarea>
                                                    </div>
    
                                                    <button style="width:100px; float:right" class="submit-button" type="submit">Gửi</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End comment form -->
                            </div>
                        </div>
                        <!-- End left side -->
                        <!-- Start Right sidebar -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 sidebar-warp columns">
                            <div class="row">
                                 <!-- Start Subscribe From -->
                                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12 xs-mt-40 sm-mt-50 md-mt-60 mt-40">
                                    <aside class="subscribe-form bg-dark text-center sidebar">
                                        <h3 class=" zm-post-title">Nhận tin miễn phí</h3>
                                        <p>Tin tức nổi bật cập nhật mỗi ngày của chúng tôi sẽ được gửi đến cho bạn</p>
                                        <form action="#">
                                            <input type="text" placeholder="Tên của bạn">
                                            <input type="email" placeholder="Email của bạn" required="">
                                            <input type="submit" value="Đăng kí">
                                        </form>
                                    </aside>
                                </div>
                                <!-- End Subscribe From -->
                                <aside class="zm-tagcloud-list col-xs-12 col-sm-6 col-md-6 col-lg-12 mt-60">
                                    <div class="row mb-40">
                                        <div class="col-md-12">
                                            <div class="section-title">
                                                <h2 class="h6 header-color inline-block uppercase">Tags</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="zm-tagcloud">
                                                <a href="#">Kinh doanh</a>
                                                <a href="#">Công nghệ</a>
                                                <a href="#">Đá bóng</a>
                                                <a href="#">Sức khoẻ</a>
                                                <a href="#">Showbiz</a>
                                                <a href="#">Thị trường</a>
                                                <a href="#">Thế giới</a>
                                                <a href="#">Typhography</a>
                                                <a href="#">Education</a>
                                                <a href="#">Technology</a>
                                                <a href="#">Sprot</a>
                                                <a href="#">Lifestyle</a>
                                                <a href="#">Art</a>
                                                <a href="#">Sprot</a>
                                                <a href="#">Three</a>
                                                <a href="#">Typhography</a>
                                                <a href="#">Education</a>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                
                            </div>
                        </div>
                        <!-- End Right sidebar -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End page content -->
<!-- End Popular News [layout A+D]  -->
<%include ../layout/footer%>